.selection {
	margin-right: 100%;
	margin-bottom: 20px;
}
.logo {
	height: auto;
	width: 200px;
	vertical-align: top;
	float: left;
	margin: 10px;
	margin-right: 100%;
	margin-bottom: 20px;
	margin-top: 25px;
}