body{
    background-color: #eaeae8;
}
img:hover{
    filter: brightness(50%);
}
.logo{
    height: auto;
    width: 25%;
    vertical-align: top;
    float: left;
    margin: 10px;  
    margin-right: 100%;
    margin-bottom: 100px;
    margin-top: 25px;
}
.text{
     font-weight: bold;
    font-size: 25px;
}
<!--responsive-->
img{
  max-width: 100%;
  height: auto;
}
