body{
    background-color: #eaeae8;
}
img:hover{
    filter: brightness(50%);
}
.logo{
    height: 100%;
    width: 160px;
    vertical-align: top;
    float: left;
    margin: 10px;  
    margin-right: 100%;
    margin-bottom: 100px;
}
.text{
     font-weight: bold;
    font-size: 25px;
}
img{
  max-width: 33%;
  height: auto;
}