/*Begin Pagina delen*/

body {
	background-color: #eaeae8;
}
footer {
	position: inherit;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}
/*Einde Pagina delen*/

/*Begin afbeeldingen */

img {
	max-width: 100%;
	height: auto;
}
img:hover {
	filter: brightness(50%);
}
.logo {
	height: auto;
	width: 200px;
	vertical-align: top;
	float: left;
	margin: 10px;
	margin-right: 100%;
	margin-bottom: 100px;
	margin-top: 25px;
}
/*Einde afbeeldingen*/

/*Begin Tekst Soorten*/

.tekst {
	margin-right: 100%;
	width: 70%
}
.hoofdtekst {
	font-weight: bold;
	font-size: 25px;
	border-top: 150px;
	margin-right: 100%;
	width: 60%
}
.footerlijst{
    text-align: left;
    color: white;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}
/*Einde Tekst Soorten */